@mixin formaInput
    border: 1px solid #ff0000;
    color: #333333;
    background: #fff;
    padding: .5em 1em;
    min-height: 35px;
    border-radius: 0;
.input-custom
    label
        text-indent: 10px;
        font-size: .8   em;
        color: #7a7a7a;
        text-transform: uppercase;
    &:nth-child(even)
        margin-left: 0px;
    select,input,button, textarea
        @include formaInput;
        &.form-control
            margin-bottom: 0px;
    textarea
        height: 10em;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        resize: none;

    &#input-radio-group
        .radio-group
            display: flex;
        label
            display: block;
    .input-radio
        position: relative;
        padding: 0;
        &:after
            content: '';
            clear: both;
            display: block;
        input[type=radio]
            opacity: 0;
            margin-top: 0;
            cursor: pointer;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            &:checked + .radio-box
                background-color: #ff000d;
                color: #ffffff;
        .radio-box
            @include formaInput;
            width: 100%;
            height: 100%;
            i
                padding: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            text-transform: uppercase;


    button
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-transform: uppercase;
        font-size: .8em;
        i
            padding: 0 10px;
        &.active
            background-color: #ff000d;
            color: #ffffff;