mixin selectCustomized(label, options)
    #select.input-custom.input-md
        label=label
        select.form-control
            option(value='-1', disabled='', selected='') Selecciona
             each opt in options
                option(value=opt.value)=opt.name
        span.dropdown__arrow 