include _includes/input/select.pug
include _includes/input/input.pug
include _includes/input/radio.pug
include _includes/form_title.pug



form.main-form.container

    .input-group
        .col-sm-6.col-xs-12
            +selectCustomized('Modelo', [{value: 0, name: 'Mobi'}, {value: 1, name: 'Uno'}])
        .col-sm-6.col-xs-12
            +selectCustomized('Versión', [{value: 0, name: 'Mobi easy'}, {value: 1, name: 'Uno Like'}])

    .input-group
        .col-sm-6.col-xs-12
            +selectCustomized('Estado', [{value: 0, name: 'Coahuila'}, {value: 1, name: 'Nuevo Leon'}])
        .col-sm-6.col-xs-12
            +selectCustomized('Distribuidor', [{value: 0, name: 'Fiat Coahuila'}, {value: 1, name: 'Fiat Nuevo Leon'}])

    include _includes/personal_data.pug
    include _includes/payment_method.pug