@import '_includes/_styles';
.main-form
    background: #fff;
    position: relative;
    z-index: 2;
    margin-top: -9em;
    padding: 14em 6em 6em 6em;
    @media (max-width: $screen-xs)
        margin-top: -4em;
        padding: 6em 1em 3em 1em;
    @media (min-width: $screen-xs) and (max-width: $screen-md-max)
        padding: 9em 5em 3em 5em;
    .input-group
        width: 100%;
        & > *
            margin-bottom: 40px;
    .checkbox-terms
        display: flex;
        align-items: center;
        input[type=checkbox]
            width: 25px;
            height: 25px;
            color: #959595;
            background: #ffffff;
            border: 1px solid #959595;
        label
            margin: 0 0 0 .5em;
    
    .submit-area
        margin-top: 1em;
        padding: 0;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        @media (max-width: $screen-sm)
            justify-content: center;