include _includes/input/select.pug
include _includes/input/input.pug
include _includes/input/radio.pug
include _includes/input/text_area.pug
include _includes/form_title.pug



form.main-form.container

    .input-group
        .col-sm-6.col-xs-12
            +selectCustomized('Modelo', [{value: 0, name: 'Mobi'}, {value: 1, name: 'Uno'}])
        .col-sm-6.col-xs-12
            +selectCustomized('Versión', [{value: 0, name: 'Mobi easy'}, {value: 1, name: 'Uno Like'}])

    .input-group
        .col-sm-6.col-xs-12
            +selectCustomized('Estado', [{value: 0, name: 'Coahuila'}, {value: 1, name: 'Nuevo Leon'}])
        .col-sm-6.col-xs-12
            +selectCustomized('Distribuidor', [{value: 0, name: 'Fiat Coahuila'}, {value: 1, name: 'Fiat Nuevo Leon'}])

    include _includes/personal_data.pug
    include _includes/payment_method.pug
    include _includes/comment.pug

    .checkbox-terms
        input(type='checkbox', name='privacyTerms', id='privacyTerms')
        label(for="privacyTerms") He leído y acepto el 
            u aviso de privacidad
        
    .checkbox-terms
        input(type='checkbox', name='offers', id='offers')
        label(for="offers") No deseo recibir promociones
    
    .submit-area
        .input-custom.input-md.col-xs-6.col-sm-3
            input(type='submit', value='ENVIAR').form-control