nav#header.navbar.navbar-fixed-top
  .container
    .navbar-header

      figure.navbar-brand
        img(src="./img/logo.png", alt="Brand").fiat-logo


      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar

    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a(href='#Modelos') Modelos
        li
          a(href='#PruebaDeManejo') Prueba de Manejo
        li
          a(href='#Cotizar') Cotizar
        li
          a(href='#Promociones') Promociones