section#landing
  .container
    h4 Cotizador
    
    .message.col-xs-12
        span.bar
        span CITADINO, AVENTURERO, DEPORTIVO
        span.bar
    
    h3 Elige el tuyo

    figure
        img(src="./img/auto.png", alt="car")